<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{master.html}">
<head>
<meta charset="utf-8">
<title>Administrar Eventos</title>
<style>
.tab-content {
	display: none;
}

.active-tab {
	display: block;
}
</style>
</head>
<body sec:authorize="hasRole('ROLE_ADMIN')">
	<div layout:fragment="content">

		<ul class="nav nav-tabs">
			<li class="nav-item"><a id="eventos-link"
				class="nav-link active"
				onclick="changeTab('eventos'); setActiveLink('eventos-link')">Eventos</a></li>
			<li class="nav-item"><a id="usuarios-link" class="nav-link"
				onclick="changeTab('usuarios'); setActiveLink('usuarios-link')">Usuarios</a></li>
		</ul>

		<div class="tab-content" id="eventos"
			th:classappend="${activeTab == 'eventos'} ? 'active-tab' : ''"
			style="display: block;">

			<div class="text-end">
				<a href="/admin/eventos/nuevo" class="btn btn-primary mb-3">Agregar
					evento</a>
			</div>
			<div th:if="${error}" class="alert alert-danger" role="alert">
				<strong>Error:</strong> <span th:text="${error}"></span>
			</div>
			<table class="table table-hover">

				<thead>
					<tr>
						<th></th>
						<th>Evento</th>
						<th>Fecha</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="evento : ${eventos}" th:object="${evento}">
						<td style="width: 150px;"><a
							th:href="@{/assets/{filename}(filename=*{rutaPortada})}"
							data-fancybox> <img
								th:src="@{/assets/{filename}(filename=*{rutaPortada})}" alt=""
								class="img-thumbnail w-100">
						</a></td>
						<td>
							<div th:text="*{nombreE}" class="fs-5 fw-bold"></div>
							<p th:text="*{descripcionE}"></p>

						</td>
						<td th:text="*{#temporals.format(fechaInicio,'dd/MM/yyyy')}"></td>
						<td class="text-end">
							<div class="btn">
								<a th:href="@{/admin/eventos/{id}/desactivar(id=*{idEvento})}"
									th:if="${evento.activo == 1}" class="btn btn-outline-danger">Desactivar</a>

								<a th:href="@{/admin/eventos/{id}/activar(id=*{idEvento})}"
									th:if="${evento.activo == 0}" class="btn btn-success">Activar</a>
							</div>
							<div class="btn">
								<a th:href="@{/admin/eventos/{id}/editar(id=*{idEvento})}"
									class="btn btn-primary">Editar</a>
							</div>
							<div class="btn">
								<a href="javascript:void(0)" class="btn btn-danger"
									th:onclick="'eliminarEvento(' + *{idEvento} +')'">Eliminar</a>
								<form th:id="'eliminarEventoForm' + *{idEvento}"
									th:action="@{/admin/eventos/{id}/eliminar(id=*{idEvento})}"
									method="post" class="d-none"></form>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="row mt-5" th:with="page=${eventos}">
				<div class="col-sm-6">
					<div sd:pagination-sumary></div>
					<div class="col-sm-6">
						<nav>
							<ul class="pagination" sd:pagination="full"></ul>
						</nav>
					</div>
				</div>
			</div>

			</table>
		</div>

		<div class="tab-content" id="usuarios"
			th:classappend="${activeTab == 'usuarios'} ? 'active-tab' : ''"
			style="display: none;">
			<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
				<strong>Error:</strong> <span th:text="${errorMessage}"></span>
			</div>

			<table class="table table-hover">


				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Correo</th>
						<th>Fecha</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${usuarios}" th:object="${usuario}">
						<td th:text="*{nombre}" class="fs-5 fw-bold"></td>
						<td th:text="*{apellido}"></td>
						<td th:text="*{email}"></td>
						<td th:text="*{fechaRegistro}"></td>
						<td class="text-end">
							<!-- 						<div class="btn"> --> <!-- 							<a th:href="@{/admin/eventos/{id}/desactivar(id=*{idEvento})}" -->
							<!-- 								th:if="${evento.activo == 1}" class="btn btn-outline-danger">Desactivar</a> -->

							<!-- 							<a th:href="@{/admin/eventos/{id}/activar(id=*{idEvento})}" -->
							<!-- 								th:if="${evento.activo == 0}" class="btn btn-success">Activar</a> -->
							<!-- 						</div> --> <!-- 						<div class="btn"> --> <!-- 							<a th:href="@{/admin/eventos/{id}/editar(id=*{idEvento})}" -->
							<!-- 								class="btn btn-primary">Editar</a> --> <!-- 						</div> -->
							<div class="btn">
								<a href="javascript:void(0)" class="btn btn-danger"
									th:onclick="'eliminarUsuario(' + *{id} +')'">Eliminar</a>
								<form th:id="'eliminarUsuarioForm' + *{id}"
									th:action="@{/usuarios/{id}/eliminar(id=*{id})}" method="post"
									class="d-none"></form>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	<div layout:fragment="scripts">

		<script>
			function eliminarEvento(id) {
				if (!confirm('¿Estás seguro de eliminar este evento?')) {
					return;
				}
				$('#eliminarEventoForm' + id).submit();
			}
		</script>

		<script>
			function eliminarUsuario(id) {
				if (!confirm('¿Estás seguro de eliminar este usuario?')) {
					return;
				}
				$('#eliminarUsuarioForm' + id).submit();
				changeTab('usuarios');
			}

			// 			// Variable para almacenar el enlace activo
			// 			var activeLink = '';

			// 			// Función para establecer el enlace activo
			// 			function setActiveLink(linkId) {
			// 				activeLink = linkId;
			// 			}

			// 			// Ejemplo de uso para verificar el enlace activo
			// 			function checkActiveLink() {
			// 				console.log('Enlace activo:', activeLink);
			// 			}

			function changeTab(tabId) {
				var tabContent = document.getElementsByClassName("tab-content");
				for (var i = 0; i < tabContent.length; i++) {
					tabContent[i].style.display = "none";
				}

				document.getElementById(tabId).style.display = "block";

				// Actualizar clase 'active' del enlace activo
				var activeNavLinks = document
						.getElementsByClassName("nav-link");
				for (var i = 0; i < activeNavLinks.length; i++) {
					activeNavLinks[i].classList.remove("active");
				}

				var activeLink = document.getElementById(tabId + "-link");
				activeLink.classList.add("active");
			}

			function setActiveLink(linkId) {
				var activeNavLinks = document
						.getElementsByClassName("nav-link");
				for (var i = 0; i < activeNavLinks.length; i++) {
					activeNavLinks[i].classList.remove("active");
				}

				var link = document.getElementById(linkId);
				link.classList.add("active");
			}
		</script>
	</div>

</body>
</html>