<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{master.html}">
<head>
<meta charset="utf-8">
<title>Alta de Reservas</title>
</head>
<body>

	<div layout:fragment="content">
		<h2>Registro de Reserva</h2>
		<div class="col-md-6 col-md-offset-3">

			<form action="" method="post" th:object="${reserva}"
				enctype="multipart/form-data">

				<div class="mb-3">
					<label for="cantidadPersonas" class="form-label">Num
						personas: </label> <input type="text" id="cantidadPersonas"
						placeholder="¿Nº personas?" class="form-control"
						th:field="*{cantidadPersonas}">
					<div class="invalid-feedback"
						th:if="${#fields.hasErrors('cantidadPersonas')}"
						th:errors="*{cantidadPersonas}"></div>
				</div>

				<div class="text-end">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>

		</div>
	</div>
</body>
</html>