<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorate="~{master.html}">
<head>
<meta charset="utf-8">
<title>Inicio</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
	<div layout:fragment="content">
		<div class="bg-light p-5 rounded">
			<img src="/assets/banner.png" alt="Mi imagen"
				class="img-fluid rounded w-100" />
		</div>

				<h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; font-family: 'Cinzel', serif; color: #8534DB;">Últimos eventos</h4>

		<div class="row">
			<div class="col-md-3 my-5" th:each="evento : ${eventos}"
				th:object="${evento}">
				<a th:href="@{/eventos/{id}(id=*{idEvento})}" class="card shadow-lg"
					style="text-decoration: none;"> <img
					th:src="@{/assets/{filename}(filename=*{rutaPortada})}"
					th:alt="*{nombreE}" class="card-img-top" th:style="'height:150px'">
					<div class="card-body">
						<h2 class="card-title fs-6" th:text="*{nombreE}"></h2>
					</div>
				</a>
			</div>
		</div>
		<div th:include="footer :: footer"></div>
	</div>


</body>
</html>

